:root{
    --main-color: darkmagenta;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255,.3);
    --padding: 2rem;
}


.evs{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-items: center;
    margin-bottom: 0;
}

.evs .row{
      margin-top: 10%;
      margin-bottom: 1rem;
      display: flex;
      background: var(--black);
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      text-align: center;

}

.evs .row .form{
    flex: 1 1 35rem;
    padding: 2rem 2rem;
    text-align: center;
}

.evs .row .form .items{
        color: #FFF;
        padding: 1rem;
        display: flex;
        align-items: center;
        background: var(--black);
        border: var(--border);
        
}

.evs .row .form .items span{
      margin-left: 10%;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: #fff;
}

.evs .row .form .items button{
    margin-left: 20%;
    
    text-transform: capitalize;
    margin-top: 0;
    margin-right: 3rem;
    white-space: nowrap;
}
.evs .row .form .items label{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.card-body table{
    width: 100%;
}

hr{
    background:  var(--main-color);
    margin-bottom: 1rem;
    height: 5px;
}

.grid{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 3fr));
    grid-gap: 1.5rem;
    align-items: center;
    justify-items: center;
    
   
}

#going{

    margin-bottom: 2rem;
}

.card{
    color: #fff;
    
    padding: 7rem 0rem;
/*    max-width: 40ch;*/
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}


.card:hover{
    transform: scale(1.05);
}

.card-title{
    position:relative;
    width: max-content;
    padding: 0 2rem;
    
}



.card-content{
    
    padding: 2rem;
    margin: 0;
    
    background:  linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(50,50,50,0.5) 100%);
    transform: translateY(220%);
    transition: transform 500ms ease;
    
    
}


.card:hover .card-content{
    transform: translateY(125%);
}
.card:hover .card-content > *{
    opacity: 1;
}
.card-title::after{
    content: '';
    position: absolute;
    height: 5px;
    background: var(--main-color);
    z-index: 101;
    height: 4px;
    bottom: -2px;
    left: calc(var(--padding)*-1);
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transition: transform 500ms ease;
    transform-origin: left;
}
.card:hover .card-title::after{
    transform: scaleX(1.18);
}
.card-body{
    padding-top: 1.2rem;
    font-weight: 600;
    color: rgb(255,255,255/0.8);
}



#going {
    display: none;
}

.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: var(--black);
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: fit-content;
    min-height: fit-content;
    vertical-align: middle;
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding: 2rem;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}


.rez{
    
    display: none;
    align-items: center;
    
    background-size: cover;
    background-position: center;
}
.rez .popup-Container{
    align-self: center;
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
    
}

.rez .popup-Container form{
    
    flex:1 1 45rem;

    text-align: center;
}

.rez .popup-Container form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.rez .popup-Container form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.rez .popup-Container form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.rez .error {

    color: white;
    text-transform: none;
    font: 20px bold;

}

.rez .popup-Container form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.rez .popup-Container form div label{
    font-size: 1.5rem;
    color:#fff;
}
/* media reduce*/
@media (max-width:911px){

    .rez .row{
        margin-top: 3rem;
    }

}

@media (max-width:768px){


    .rez{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .rez .content h3{
        font-size: 4.5rem;
    }

    .rez .content p{
        font-size: 1.5rem;
    }
    
}


@media (max-width:450px){

    .rez .popup-Container{
        margin-top: 0rem;
    }
    

}