.card-body table{
    width: 100%;
}
.grid{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}
.card{
    background: #fff;
    border-radius: 15px;
}

.card-body{
    padding: 1rem;
    border-top: 1px solid var(--main-color);
}

.card-header{
    padding: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.card-header > *{
    margin-right: 1rem;
}
.sm-button{
    display:none;
    background: gray;
    border-radius: 10px;
    color: #fff;

    font-size: .8rem;
    padding: .5rem;
    border: 1px solid gray;
    cursor: pointer;
}

.sm-button > *{
    cursor: pointer;
    font-size: 18px;
}
table {
    border-collapse: collapse;
  }

tr{
    padding-bottom: 0.5rem;
}

thead tr{
    border-bottom: 1px solid #f0f0f0;
    background-color:#fff;
}


td{
    padding: 0.5rem 1rem;
    font-size: .9rem;
    color: #222;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: large;
    font-weight: 700;
    text-align: center;
}
thead td{
    font-weight: 1000;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;

}
.table-responsive{
    width: 100%;
    overflow: auto;

}
.button{
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    
}
td{
    border:1px solid var(--main-color) ;
}


.card-new{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #fff;
}
.add-new-button{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.buttons{
    display: flex;
    justify-content: center;
}
.buttons >*{
    margin-left: 1rem;
    margin-right: 1rem;
}
#kat-toggle{
    display: none;
}
#kat-toggle:checked + .card-body{
    display: none;
}
#kat-toggle1{
    display: none;
}
#kat-toggle1:checked + .card-body{
    display: none;
}
#kat-toggle2{
    display: none;
}
#kat-toggle2:checked + .card-body{
    display: none;
}
#kat-toggle3{
    display: none;
}
#kat-toggle3:checked + .card-body{
    display: none;
}
.td-mul-div{
    border-bottom: 1px solid #f0f0f0;
}
.add-bar{
    justify-content: center;
}
.search-bar {
    justify-self: flex-end;
    padding: 6px;
    border:  2px solid var(--main-color);
    border-radius: 12px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
.card-konobari{
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.konobari{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: move;
}
.konobar:hover{
    opacity: 0.5;
}

.draggable{
    margin:0.5rem;
    padding: 0.5rem;
    color: #fff;
    background: gray;
    border-radius: 15px;
    display: flex;
    justify-content:center;
    align-items: center;

}

.container{
    
}
.draggable.dragging {
    opacity: .5;
  }

#info{
    display:flex;
    justify-content: center;
    padding: 1rem;
}