<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/client/main_theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/client/login.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="{% static 'js/consts/consts.js' %}"></script>
    <title>Film Caffe - Login</title>
</head>
<body>
    <header class="header">

        <a href="home.html" class="logo"><img id="logo" src="" alt="Film Caffe logo"></a>

        <nav class="navbar">
            <a href="home.html">Pocetna</a>
            <a href="home.html#dogadjaji">Dogadjaji</a>
            <a href="meni.html">Meni</a>
            <a href="home.html#kontakt">Kontakt</a>
            <a href="login.html" class="current_page">Login</a>
            <a href="reg.html">Registracija</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>

    <!-- Kraj headera-->

    <section class="main bg" id="pocetna">
        <div class="row">    
            <form id="logForm">
                <h3>Login</h3>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="E-mail Adresa" id="mail">
                </div>
                <div class="inputBox">
                    <span class="fas fa-lock"></span>
                    <input type="password" placeholder="Lozinka" id="pass">
                </div>
                <!--<div>
                    <input type="checkbox" name="Zapamti me" id="remeberMe"><label for="remeberMe"> Zapamti me </label>
                </div>-->
                <div>
                    <input type="button" value="Login" class="btn" id="btn">
                </div>
            </form>
    
        </div>


    </section>

    <!-- kraj forme-->
    <section class="footer">

        <div class="share">
            <a href="" class="fab fa-facebook-f"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-instagram"></a>
        </div>
    
        <div class="credit">
            Powered by <span> Lagani<sup><i class="fa fa-trademark" aria-hidden="true" ></i></sup> </span> | SMOG all rights reserved
        </div>
    
    </section>
        <script type="module" src="{% static 'js/client/main_script.js' %}"></script>
        <script type="module" src="{% static 'js/client/login.js' %}"></script>

    
</body>
</html>