<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/client/main_theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/client/reg.css' %}">
    <title>Film Caffe - Registracija</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="{% static 'js/consts/consts.js' %}"></script>

</head>
<body>
    <header class="header">

        <a href="home.html" class="logo"><img src="" alt="Film Caffe logo" id="logo"></a>

        <nav class="navbar">
            <a href="home.html">Pocetna</a>
            <a href="home.html#dogadjaji">Dogadjaji</a>
            <a href="meni.html">Meni</a>
            <a href="home.html#kontakt">Kontakt</a>
            <a href="login.html">Login</a>
            <a href="reg.html"  class="current_page">Registracija</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>

    <!-- Kraj headera-->

    <section class="main bg" id="pocetna">
        <div class="row">    
            <form id="regForm">
                <h3>Registracija</h3>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text"  placeholder="Ime" id="ime">
                </div>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="Prezime" id="prez">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="text" placeholder="E-mail adresa" id="mail">
                </div>
                <div class="inputBox">
                    <span class="fas fa-lock"></span>
                    <input type="password"  placeholder="Lozinka" id="pass">
                </div>
                <div class="inputBox">
                    <span class="fas fa-lock"></span>
                    <input type="password" placeholder="Potvrdi lozinku" id="cmf">
                </div>
                <div class="inputBox">
                    <span class="fas fa-phone"></span>
                    <input type="text" placeholder="Broj telefona - Opciono" id="telNum">
                </div>
                <div>
                    <input type="checkbox" name="legal" id="legal"><label for="legal"> Prihvatam uslove koriscenja </label>
                </div>
                <div id="err">
                    <label> Greska: Email adresa vec postoji </label>
                </div> 
                <div>
                    <input type="button" value="Registuj me" id= "regbut" class="btn dis" disabled>
                </div>
            </form>
    
        </div>


    </section>

    <!-- kraj forme-->
    <section class="footer">

        <div class="share">
            <a href="" class="fab fa-facebook-f"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-instagram"></a>
        </div>
    
        <div class="credit">
            Powered by <span> Lagani<sup><i class="fa fa-trademark" aria-hidden="true" ></i></sup> </span> | SMOG all rights reserved
        </div>
    
    </section>

        <script type="module" src="{% static 'js/client/main_script.js' %}"></script>
        <script type="module" src="{% static 'js/client/reg.js' %}"></script>
</body>
</html>