header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    position: fixed;
    left: var(--sidebar-width);
    width: var(--main-width);
    
    top:0;
    z-index: 100;
    background-color: #fff;
    transition: left 300ms;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper{
    display: none !important;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    padding-right: 1rem;
}
.search-wrapper span{
    display: inline-block;
    padding: .5rem;
    border: none;
    outline: none;
}
.user-wrapper{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}
.user-wrapper small{
    display: inline-block;
    color:gray
}

.header-right{
    display: flex;
}

.h-button{
    padding-top: 0.5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.h-button a{
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--main-color);
    color: #fff;
    padding: 0.5em 1.25em;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    border-radius: 15px;
}
#menu-btn{
    display: inline;
}


@media only screen and (max-width: 1200px){
    .search-wrapper{
        display: none;
        padding: .5rem;
        border: none;
        outline: none;
    }
    header{
        display: flex;
        justify-content: left;
    }
    #menu-btn{
        display: none;
    }

}
