.card-body table{
    width: 100%;
}
.grid{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.card{
    background: #fff;
    border-radius: 15px;
}

.card-body{
    padding: 1rem;
}

.card-header{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}
.sm-button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem;
    border: 1px solid var(--main-color);
}
table {
    border-collapse: collapse;
  }

tr{
    padding-bottom: 0.5rem;
}

thead tr{
    border-bottom: 1px solid #f0f0f0;
    background-color:#fff;
}
.sto{
    display: flex;
}


td{
    padding: 0.5rem 1rem;
    font-size: .9rem;
    color: #222;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: large;
    font-weight: 700;
}
thead td{
    font-weight: 1000;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;

}
.table-responsive{
    width: 100%;
    overflow: auto;

}
.button{
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
}

tbody tr:hover{
    background: var(--main-color);
}
tbody tr:hover td{
    color: #fff;
}
td .sm-button{
    background: #fff;
    border-radius: 10px;
    color: var(--main-color);
    font-size: .8rem;
    padding: .5rem;
    border: 1px solid var(--main-color);
    visibility: hidden;
}
tr:hover .sm-button{
    visibility: visible;
}
.card-new{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #fff;
}
.add-new-button{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Dropdown Button */
.dropbtn {
    background-color:#B547C1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    font-size: large;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #CBC3E3;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #B547C1;}

.add-bar{

    display:flex;
    flex-grow: 4;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.add-div{
    width: 100%;
}
.deo1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

}
.deo2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

}
.deo3{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.deo4{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.sve{
    display:flex;

    padding: 12px 16px;
    margin-top: 50px;
    margin-bottom: 4rem;
    width: 85%;
    padding-bottom: 2rem;
    text-align: center;
    background: #fff;
    border-radius: 15px;
}
.rightSide {
    max-height: 300px;
    overflow:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  td,th {padding: .5em .5em;}

  /* Shadow on the header row*/
  /* thead tr   { box-shadow: 0 1px 10px #000000; } */
  /* Background colors defined on table cells */
  th         { background-color:lightgray; color: white;}


