.add-bar{
    display: flex;
    background: white;
    padding:1rem;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 1.5rem;
}
.add-bar >*{
    margin: 5px
}
@media only screen and (max-width: 1200px){
    .add-bar{
        flex-direction: column;
    }
}