    <html>
    <head>
        {% load static %}
        <title>Igra</title>
		<link rel="stylesheet" type='text/css' href="{% static 'css/bootstrap.min.css' %}">
		<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'>
    </head>
    <body onload="populate()">
        <div class="pad2">
        <!-- Control the column width, and how they should appear on different devices -->
        <div class="row" >
            <div class="col-sm-5 col-5 R15"><button id="A1" class="columnButtonLT" onclick="Reveal(this.id)">A1</button></div>
            <div class="col-sm-2 col-2" style="text-align: center;"><label class = "name" id="Name">Ognjen</label></div>
            <div class="col-sm-5 col-5 L15"><button id="B1" class="columnButtonRT" onclick="Reveal(this.id)">B1</button></div>
        </div>
        <div class="row" >
            <div class="col-sm-5 col-5 R10"><button id="A2" class="columnButtonLT" onclick="Reveal(this.id)">A2</button></div>
            <div class="col-sm-2 col-2" style="text-align: center;"><button class = "name" id="dalje" onclick="changePlayer()">Dalje<img src="{% static 'asocijacije-dodatno/free-sad-face-icon-2691-thumb.png' %}"  height="25" width="25" style="float: right"></img></button></div>
            <div class="col-sm-5 col-5 L10"><button id="B2" class="columnButtonRT" onclick="Reveal(this.id)">B2</button></div>
        </div>
        <div class="row" >
            <div class="col-sm-5 col-5 R5"><button id="A3" class="columnButtonLT" onclick="Reveal(this.id)">A3</button></div>
            <div class="col-sm-2 col-2" style="text-align: center;"><label id="cnt" class="counter">10</label></div>
            <div class="col-sm-5 col-5 L5"><button id="B3" class="columnButtonRT" onclick="Reveal(this.id)">B3</button></div>
        </div>
        <div class="row" >
            <div class="col R5"><button id="A4" class="columnButtonL" onclick="Reveal(this.id)">A4</button></div>
            <div class="col L5"><button id="B4" class="columnButtonR" onclick="Reveal(this.id)">B4</button></div>
        </div>
        <div class="row" >
            <div class="col R5"><input type="text" class="columnButtonL" placeholder="Kolona A" onchange="Check(this.id)" id="A"></input></div>
            <div class="col L5"><input type="text" class="columnButtonR" placeholder="Kolona B" onchange="Check(this.id)" id="B"></input></div>
        </div> 
        <div class="row" >
            <div class="col-sm-12" style="text-align: center;"><input type="text" id="solution" class="center" placeholder="Resenje" onchange="Check(this.id)"></input></div>
        </div>
        <div class="row" >
            <div class="col R5"><input type="text" class="columnButtonL" placeholder="Kolona C" onchange="Check(this.id)" id="C"></input></div>
            <div class="col L5"><input type="text" class="columnButtonR" placeholder="Kolona D" onchange="Check(this.id)" id="D"></input></div>
        </div>
        <div class="row" >
            <div class="col R5"><button id="C4" class="columnButtonL" onclick="Reveal(this.id)">C4</button></div>
            <div class="col L5"><button id="D4" class="columnButtonR" onclick="Reveal(this.id)">D4</button></div>
        </div>
        <div class="row" >
            <div class="col R10"><button id="C3" class="columnButtonL" onclick="Reveal(this.id)">C3</button></div>
            <div class="col L10"><button id="D3" class="columnButtonR" onclick="Reveal(this.id)">D3</button></div>
        </div>
        <div class="row" >
            <div class="col R15"><button id="C2" class="columnButtonL" onclick="Reveal(this.id)">C2</button></div>
            <div class="col L15"><button id="D2" class="columnButtonR" onclick="Reveal(this.id)">D2</button></div>
        </div>
        <div class="row" >
            <div class="col R20"><button id="C1" class="columnButtonL" onclick="Reveal(this.id)">C1</button></div>
            <div class="col L20"><button id="D1" class="columnButtonR" onclick="Reveal(this.id)">D1</button></div>
        </div>  
        <!-- Or let Bootstrap automatically handle the layout -->
        <!--<div class="row">
            <div class="col">6</div>
            <div class="col">7</div>
            <div class="col">8</div>
    </div>--> 
    </div>
    </body>
    <script src ="{% static 'js/script.js'%}"></script>
</html>