<html>
    <head>
        {% load static %}
        <title>Uputstvo</title>
		<link rel="stylesheet" type='text/css' href="{% static 'css/bootstrap.min.css' %}">
		<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="row pad5">
            <div class="col-12 center">
            <h1>Igra Asocijacije</h1>
        </div>
        </div>
        <div class="row">
        <div class="col-12 center">
            <p>У игри асоцијације постоје четири споредне асоцијације, помоћу којих треба решити главну
                асоцијацију. Решење сваке споредне асоцијације је неки појам на који асоцирају четири појма у његовој
                колони. На почетку су сви појмови скривени, а играчи откривају један по један. Игру играју два играча.
                Након откривања појма, играч има могућност да погађа или главну или споредну асоцијацију. За
                решење споредне асоцијације се добија 5 поена плус број неоткривених појмова у његовој колони. За
                решење главне асоцијације се добија 10 поена плус број свих неоткривених појмова. Сваки играч на
                свом потезу има максимално 10 секунди, а уколико не жели у том потезу да погађа асоцијацију може
                да притисне дугме Даље и да раније заврши потез.</p>
        </div>
        </div>
        <div class="row">
            <div class="col center"><label>Unesite imena igraca:</label></div>
        </div>
            <form>
                <div class="row">
                    <div class="col center">
                        <input class="nameL" type="text" id="player1" placeholder="Igrac 1">
                    </div>
                    <div class="col center">
                    <input class="nameR" type="text" id="player2" placeholder="Igrac 2">
                </div>
                </div>
            </div>
                <div class="row">
                <div class="col-12 center">
                <input type="button" class="btn" onclick="getPlayerInfo()" value="Pokreni Igru">
                </div>
                </div>
            </form>

        
    </body>
    <script src ="{% static 'js/script.js'%}"></script>
</html>