<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"> 
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/main_content.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/modal-card.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/add-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/button-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/pop-up.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/snackbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/DogadjajiRezervacije.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/consts/consts.js' %}"></script>
    <script src="{% static 'js/consts/sidebar.js' %}"></script>
    <script src="{% static 'js/dogadjaji_rezervacije.js' %}"></script>
    <title>Rezervacije</title>
</head>
<body>
    <div class='spinner-wrapper'>
        <div class="spinner"></div>
    </div>
    <input type="checkbox" name="" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class=""></span> FilmCaffe</h1>
        </div>
        <div class="sidebar-menu">
        </div>
        
    </div>
    <div class="main-content">
        <header>
            <h1>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Rezervacije
            </h1>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" name="" id="">
            </div>
            <div class="header-right">
                <div class="user-wrapper">
                    <div>
                        <h4>Jhon Doe</h4>
                        <small>Menadzer</small>
                    </div>
                </div>
            </div>

        </header>
        <main>
            <div id="grid">
                <!-- <div class="event">
                    <div class="event-header">Zurka 1</div>
                    <div class="event-body">
                        <div class="card" id="stigle_rezervacije">
                            <div class="header-naslov">Pristigle rezervacije</div>
                            <div class="card-body">
                                <table cellspacing="0">
                                    <thead>
                                        <tr>
                                            <td>Korisnik</td>
                                            <td>Broj Osoba</td>
                                            <td>Opcije</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Marko Savic</td>
                                            <td>6</td>
                                            <td class="td-buttons"><div class="td-button las la-check"></div><i class="td-button las la-times"></i><i class="td-button las la-ellipsis-h"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card" id="potvrdjene_rezervacije">
                            <div class="header-naslov">Prihvacene rezervacije</div>
                            <div class="card-body">
                                <table cellspacing="0">
                                    <thead>
                                        <tr>
                                            <td>Korisnik</td>
                                            <td>Broj Osoba</td>
                                            <td>Stolovi</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Marko Savic</td>
                                            <td>6</td>
                                            <td class="td-buttons"><div class="td-button las la-ellipsis-h"></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div> -->
            </div>
                
        </main>
    </div>
    <div class="hover_bkgr_fricc">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton">&times;</div>
            <div id="pop-up-content">
                <!-- <div class="confirm-res-div">
                    <div class="stolovi-header">Slobodni stolovi</div>
                    <div id="stolovi">
                        <div class="sto">
                            <h3>Separe</h3>
                            <h3>8 osoba</h3>
                        </div>

                    </div>
                    <button class="prihvati-rezervaciju">Prihvati rezervaciju</button>
                </div> -->
                <!-- <div id="odbij-rezervaciju-tekst" class="pop-up-text">Da li zelite da odbijete rezervaciju za korisnika Marko Savic?</div>
                <button class="pop-up-button">Potvrdi</button> -->
                <div class="pop-up-more-info-text">Korisnik</div>
                <div class="pop-up-more-info-text"> Marko Savic</div>
                <table cellspacing="0" class="more-info-table">
                    <tr>
                        <td>Ukupni zabelezeni trosak</td>
                        <td>4000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>