<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">   
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/main_content.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/modal-card.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/add-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/button-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'css/artikli.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/responsive.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/consts/consts.js' %}"></script>
    <script src="{% static 'js/consts/sidebar.js' %}"></script>
    <script src="{% static 'js/ucitaj_artikle.js' %}"></script>
    <title>Inventar</title>
</head>
<body>
    <div class='spinner-wrapper'>
    <div class="spinner"></div>
    </div>
    <input type="checkbox" name="" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class=""></span> FilmCaffe</h1>
        </div>
        <div class="sidebar-menu">

        </div>
        
    </div>
    <div class="main-content">
        <header>
            <h1>
                <label for="nav-toggle" id="menu-btn">
                    <span class="las la-bars nav-button"></span>
                </label>
                Inventar
            </h1>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" name="" id="">
            </div>
            <div class="header-right">

                <div class="user-wrapper">
                    <div>
                        <h4>Jhon Doe</h4>
                        <small>Menadzer</small>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="add-bar">
                <div id="modal-create-btn" class="button">
                    <a href="#">Dodaj artikal</a>
                </div>
                <div id="modal-porudzbenice-btn" class="button">
                    <a href="#">Porudzbenice</a>
                </div>
            </div>
            <div class="porudzbenice">
                <div class="porudzbenice-meni">
                    <span><h1>Artikli u nedostatku</h1></span>
                    
                </div>
                <div id ="porudzbenice-grid" class="cards">
                  
                </div>
            </div>
            <div class="artikli">
                <div class="artikli-meni">
                    <span><h1>Artikli</h1></span>
                </div>
                <div id="artikli-grid" class="cards">
                    
                   
                    
                </div>
                    
                </div>

            </div>
            
            
            
            <!-- <script src="modal.js"></script> -->
            <!-- <script src="delete-modal.js"></script> -->
        </main>
            <div class="header-title"></div>
        </div>
        <div id="create-modal" class="modal">
            <div id= "create-modal-content" class="modal-content">
              <div class="modal-header">
                <span id="close-create" class="close">&times;</span>
                <h2 id="naslov-modala">Kreiranje Dogadjajaa</h2>
              </div>
              <div class="modal-body">
                <div class="modal-form-create">
                    
                    <div class="input-div">
                        <table class="input-table">
                            <thead>
                                <tr>
                                    <td>Naziv artikla</td>
                                    <td><input id="naziv-input" class="modal-create-input" type="text"></td>
                                </tr>
                                <tr><td colspan="2"> <h3 id="naziv-err"></h3></td></tr>
                            </thead>
                            <tbody>
                                <h3 id="artikal-id-modal" style="display:none;"></h3>
                                <tr>
                                    <td>Sifra artikla</td>
                                    <td><input id="sifra-artikla-input" class="modal-create-input"type="text"></td>
                                </tr>
                                <tr>
                                    <td>Sifra dobavljaca</td>
                                    <td><input id="sifra-dobavljaca-input" class="modal-create-input"type="text"></td>
                                </tr>
                                <tr>
                                    <td>Trenutna kolicina</td>
                                    <td><input id="tren-kolicina-input" class="modal-create-input"type="number" min="0" oninput="this.value = Math.abs(this.value)" ></td>
                                </tr>
                                <tr><td colspan="2"> <h3 id="tren-kolicina-input"></h3></td></tr>
                                <tr>
                                    <td>Nabavna cena</td>
                                    <td><input id="nabavna-cena-input" class="modal-create-input"type="number" min="0" oninput="this.value = Math.abs(this.value)"></td>
                                </tr>
                                <tr>
                                    <td>Kolicina za koju se pojavljuje upozorenje o manjku</td>
                                    <td><input type="number" min="0" id="manjak-kolicina-input" oninput="this.value = Math.abs(this.value)"></td>
                                </tr>
                                <tr><td colspan="2"> <h3 id="manjak-kolicina-input"></h3></td></tr>
                            </tbody>
                        </table>
                        <div class="button-div">
                            <button class="button" id="sacuvaj-artikal">
                                Sacuvaj
                            </button>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <h3>Modal Footer</h3>
              </div>
            </div>
        </div>
        <div id="delete-modal" class="modal">
            <div id="delete-modal-content" class="modal-content">
              <div class="modal-header">
                <span id = "close-del" class="close">&times;</span>
                <h2>Brisanje artikla</h2>
              </div>
                <div class="modal-body">
                    <div class="modal-form-del">
                        <div class="modal-del-title">
                            <h1>Da li ste sigurni da zelite da obrisete ovaj artikal?</h1>
                        </div>
                        <div class="modal-del-info">
                            <h2>Upisite id artikla da bi potvrdili akciju brisanja:</h2>
                            <h2 id="id"></h2>
                            <input type="text" id= "modal-del-input" placeholder="Amstel">
                        </div>
                        <div class="button-div">
                            <button class="button" id="del-button-confirm">
                                Potvrdi
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <h3>Modal Footer</h3>
              </div>
            </div>
        </div>
        <div id="porudzbenice-modal" class="modal">
            <div id="porudzbenice-modal-content" class="modal-content">
              <div class="modal-header">
                <span id = "close-porudzbenice" class="close">&times;</span>
                <h2>Kreiranje porudzbenica</h2>
              </div>
                <div class="modal-body">
                    <div class="forma-porudzbine">
                        <div id="artikli-za-porucivanje">
                            <table id="tabela-artikala">
                                <thead>
                                    <tr>
                                        <td>Artikli</td>
                                        <td>Kolicina na stanju</td>
                                        <td>Kolicina za porudzbinu</td>
                                    </tr>
                                </thead>
                                <tbody id="telo-tabela-artikala">
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="porudzbenica-suma-div">
                            <h3>Ukupna cena porudzbine je: </h3>
                            <h3 id="ukupna-cena-porudzbenice">0</h3>
                        </div>
                        <div id="potvrda-porudzbenica">
                            <button class="button" id="kreiraj-porudzbenicu">
                                Kreiraj
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <h3>Modal Footer</h3>
              </div>
            </div>
        </div>
        

</body>
</html>