<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"> 
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/main_content.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/modal-card.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/add-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/button-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/pop-up.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/snackbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/SkeniranjeQR.css' %}">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/consts/consts.js' %}"></script>
    <script src="{% static 'js/consts/sidebar.js' %}"></script>
    <script src="{% static 'js/html5qrcode_1.js' %}"></script>
    <title>Skeniranje QR koda</title>
</head>
<body>
    <input type="checkbox" name="" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class=""></span> FilmCaffe</h1>
        </div>
        <div class="sidebar-menu">

        </div>
        
    </div>
    <div class="main-content">
        <header>
            <h1>
                <label for="nav-toggle" id="menu-btn">
                    <span class="las la-bars"></span>
                </label>
                Skeniranje QR
            </h1>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" name="" id="">
            </div>
            <div class="header-right">
                <div class="user-wrapper">
                    <div>
                        <h4>Jhon Doe</h4>
                        <small>Konobar</small>
                    </div>
                </div>
            </div>
            <!-- <div class="h-button">
                <a href="">Dodaj postavku</a>
            </div> -->
        </header>
        <main>
            <div class='spinner-wrapper'>
                <div class="spinner"></div>
            </div>
            <!-- <img src="https://www.gallaslabel.com/assets/1/7/Wine_Bottle_-_QR_Code.jpg" />
            <div class="element">
            </div -->
            <div class="center">
                <div id="qr-reader" style="width: 100%; margin-top: 2rem;"></div>
                <div id="new-expendature">
                    <div class="card">
                        <h3 class="text">Unos Troska</h3>
                        <input type="number" name="" id="trosak" min="0" value="0" step="200" oninput="this.value = Math.abs(this.value)">
                        <div class="buttons-div">
                            <button id="potvrdi" class="buttonqr">Potvrdi</button>
                            <button id="odbij" class="buttonqr">Odbij</button>
                        </div>
                    </div>
                </div>
                <div id="buy-coupon">
                    <div class="card">
                        <h3 class="text" id="ret-msg-naslov">Nije uspela kupovina </h3>
                        <h3 class="text" id="ret-msg-desc">Nije uspela kupovina </h3>
                        <button class="buttonqr" id="confirm-read">U redu</button>
                    </div>
                </div>
            </div>

        </main>
    </div>
    
</body>
</html>