<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"> 
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/main_content.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/modal-card.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/add-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/button-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-admin-skelet/snackbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/smena.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/consts/consts.js' %}"></script>
    <script src="{% static 'js/consts/sidebar.js' %}"></script>
    <script src="{% static 'js/smene.js' %}"></script>
    <title>Smene</title>
</head>
<body>
    <div class='spinner-wrapper'>
        <div class="spinner"></div>
    </div>
    <input type="checkbox" name="" id="nav-toggle">
   
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class=""></span> FilmCaffe</h1>
        </div>
        <div class="sidebar-menu">
 
        </div>
        
    </div>
    <div class="main-content">
        <header>
            <h1>
                <label for="nav-toggle" id="menu-btn">
                    <span class="las la-bars"></span>
                </label>
                Rasporedi
            </h1>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" name="" id="">
            </div>
            <div class="header-right">
                <div class="user-wrapper">
                    <div>
                        <h4>Jhon Doe</h4>
                        <small>Menadzer</small>
                    </div>
                </div>
            </div>
            
        </header>
        <main>
            <h2>
                OPREZ: Dodavanje novih smena brise trenutni raspored i preference konobara
              
              </h2>
           <div id="smene">
               <div class="smena">
                   <table>
                       <thead>
                           <tr>
                               <td colspan="2">
                                   Smena 1
                               </td>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>Pocetak</td>
                               <td><input type="time"  name="" id="time-poc-1" required></td>
                           </tr>
                           <tr>
                               <td>Kraj</td>
                               <td><input type="time"  name="" id="time-kraj-1" required></td>
                           </tr>
                       </tbody>
                   </table>
                    

               </div>
               
           </div>
           <div class="add-bar">
               

                <button class="button" id="dodaj-smenu">
                    Dodaj smenu
                </button>
                <button class="button" id="ukloni-smenu">
                    Ukloni smenu
                </button>
                <button class="button" id="sacuvaj-smene">
                    Sacuvaj Promene
                </button>

            
        </div>
            <div class="error-div">
                <h3 id="err-msg">Smene nisu u validnom formatu</h3>
            </div>
        </main>
    </div>
    
</body>
</html>