.card-body table{
    width: 100%;
}
.grid{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.card{
    background: #fff;
    border-radius: 15px;
}

.card-body{
    padding: 1rem;
}

.card-header{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}
.sm-button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
    margin-right: 0.5rem;
}
.sm-button>*{
    cursor: pointer;
}
table {
    border-collapse: collapse;
  }

tr{
    padding-bottom: 0.5rem;
}

thead tr{
    border-bottom: 1px solid #f0f0f0;
    background-color:#fff;
}


td{
    padding: 0.5rem 1rem;
    font-size: .9rem;
    color: #222;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: large;
    font-weight: 700;
}
td >*{
    padding-left: 0.5rem;
}
thead td{
    font-weight: 1000;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;

}
.table-responsive{
    width: 100%;
    overflow: auto;

}
.button-a{
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
}

tbody tr:hover{
    background: var(--main-color);
}
tbody tr:hover td{
    color: #fff;
}
td .sm-button{
    background: #fff;
    border-radius: 10px;
    color: var(--main-color);
    font-size: .8rem;
    padding: .5rem;
    border: 1px solid var(--main-color);
    visibility: hidden;
}
tr:hover .sm-button{
    visibility: visible;
}
.card-new{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #fff;
}
.add-new-button{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.margin{
    margin:1rem 4rem;
}


