:root{
    --main-color: darkmagenta;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255,.3);
    --padding: 2rem;
}


.evs{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-items: center;
}

.evs .row{
      margin-top: 10%;
      margin-bottom: 1rem;
      display: flex;
      background: var(--black);
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      text-align: center;

}

.evs .row .form{
    flex: 1 1 35rem;
    padding: 2rem 2rem;
    text-align: center;
}

.evs .row .form .items{
        color: #FFF;
        padding: 1rem;
        display: flex;
        align-items: center;
        background: var(--black);
        border: var(--border);
        
}

.evs .row .form .items span{
      margin-left: 10%;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: #fff;
}

.evs .row .form .items button{
    margin-left: 20%;
    
    text-transform: capitalize;
    margin-top: 0;
    margin-right: 3rem;
    white-space: nowrap;
}
.evs .row .form .items label{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.card-body table{
    width: 100%;
}

hr{
    background:  var(--main-color);
    margin-bottom: 1rem;
    height: 5px;
}

#divisor{
    display: none;
}
.grid{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 3fr));
    grid-gap: 1.5rem;
    align-items: center;
    justify-items: center;
   
}


.card{
    color: #fff;
    
    padding: 7rem 0rem;
/*    max-width: 40ch;*/
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}


.card:hover{
    transform: scale(1.05);
}

.card-title{
    position:relative;
    width: max-content;
    padding: 0 2rem;
    
}



.card-content{
    
    padding: 2rem;
    margin: 0;
    
    background:  linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(50,50,50,0.5) 100%);
    transform: translateY(220%);
    transition: transform 500ms ease;
    
    
}


.card:hover .card-content{
    transform: translateY(125%);
}
.card:hover .card-content > *{
    opacity: 1;
}
.card-title::after{
    content: '';
    position: absolute;
    height: 5px;
    background: var(--main-color);
    z-index: 101;
    height: 4px;
    bottom: -2px;
    left: calc(var(--padding)*-1);
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transition: transform 500ms ease;
    transform-origin: left;
}
.card:hover .card-title::after{
    transform: scaleX(1.18);
}
.card-body{
    padding-top: 1.2rem;
    font-weight: 600;
    color: rgb(255,255,255/0.8);
}

/*.card .btn:hover{
    letter-spacing: normal;
    width: auto;
}*/

#dogpage{
    color: var(--main-color);
    font-weight: bold;
}

#going {
    display: none;
}
