.card-body table{
    width: 100%;
}
.grid{
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}
.card {
  
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  3px 3px 3px gray;
    margin: 1.5rem
}

.chart-canvas {
    margin: 20px;
    position: relative;
}

.chart-options {
    position: absolute;
    right: 30px;
    top: 14px;
}

.card-body{
    padding-top: 0.5rem;
    font-weight: 600;
    color: rgb(255,255,255/0.8);
}
.sm-button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem;
    border: 1px solid var(--main-color);
}

.button{
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
}
.dashboard-cards {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.settings-bar{

}
.date-bar{
        background: white;
    padding:1rem;
    border-radius: 15px;
    display: flex;
    align-content: center;
    padding-bottom: 1rem;
}
.date-bar >*{
    margin-right: 1rem;
}
.date-input{
    display: flex;
    align-content: flex-start;
    padding: 1rem;
}
.date-input>*{
    margin-right: 1rem;
}
.checkbox-bar{
    display: flex;
}
.checkbox-bar>*{
    margin-right: 1rem;
}
.save-bar{
    display: flex;
    justify-content: flex-end;
}


@media only screen and (max-width: 1200px){
    .date-bar{
        background: white;
    padding:1rem;
    border-radius: 15px;
    display: block;
    align-content: center;
    padding-bottom: 1rem;
    }

}
