#smene{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 1200px){
    #smene{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

}
.smena td{
    font-size: large;
    font-weight: bolder;
    padding: 0.5rem;
}

.smena thead td{
    font-size: x-large;
}

.button{
    padding: 0.5rem;
    background-color: var(--main-color);
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    font-size: large;
    cursor: pointer;
}
.error-div{
    padding: 1rem;
    background: #fff;
    display: flex;
    justify-content: center;
}