:root{
    --main-color: darkmagenta;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255,.3);
}


.cups{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-items: center;
}

.cups .row{
      margin-top: 10%;
      margin-bottom: 3rem;
      display: flex;
      background: var(--black);
      flex-wrap: wrap;
      gap: 1rem;

}

.cups .row .form{
    flex: 1 1 35rem;
    padding: 2rem 2rem;
    text-align: center;
}

.cups .row .form .items{
        justify-content: center;
        text-align: center;
        padding: 2rem;
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background: var(--black);
        border: var(--border);
        
}

.cups .row .form .items span{
      
      text-transform: uppercase;
      font-size: 1.5rem;
      color: #fff;
}

.cups .row .form .items button{
    margin-left: 20%;
    text-transform: capitalize;
    margin-top: 0;
    margin-right: 3rem;
    white-space: nowrap;
}
.cups .row .form .items label{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.card-body table{
    width: 100%;

}

hr{
    background:  var(--main-color);
    margin-bottom: 1rem;
    height: 5px;
}

.grid{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1.5rem;
    align-items: center;
    justify-items: center;
   
}
/*
.grid-shop{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1.5rem;
    align-items: center;
    justify-items: center;
   
}*/


.card{
    color: #fff;
    background-image:linear-gradient(rgba(50, 50, 50, 0.5),rgba(50,50,50,0.5)), url(../../assets/no_img.png);
    background-size: cover;
    padding-top: 7rem;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card .btn:hover{
    letter-spacing: 0;
}
/*dodavanje slika kuponima*/
#kup1{
    background-image:/*linear-gradient(rgba(50, 50, 50, 0.5),rgba(50,50,50,0.5)),*/ url(../../assets/beer.jpg);
    background-size: cover;
}
#kup2{
    background-image:linear-gradient(rgba(50, 50, 50, 0.5),rgba(50,50,50,0.5)), url(../../assets/no_img.png);
    background-size: cover;
}

#kup3{
    background-image:linear-gradient(rgba(50, 50, 50, 0.5),rgba(50,50,50,0.5)), url(../../assets/beer.jpg);
    background-size: cover;
}
#kup4{
    background-image:linear-gradient(rgba(50, 50, 50, 0.5),rgba(50,50,50,0.5)), url(../../assets/no_img.png);
    background-size: cover;
}


.card:hover{
    transform: scale(1.05);
}

.card-title{
    position: relative;
    width: max-content;
}

.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background:  linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(25,25,25,1) 100%);
    transform: translateY(60%);
    transition: transform 500ms ease;
}
.card-content p > *{
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content{
    transform: translateY(0%);
}
.card:hover .card-content > *{
    opacity: 1;
}
.card-title::after{
    content: '';
    position: absolute;
    height: 5px;
    background: var(--main-color);
    z-index: 101;
    height: 4px;
    bottom: -2px;
    left: calc(var(--padding)*-1);
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transition: transform 500ms ease;
    transform-origin: left;
}
.card:hover .card-title::after{
    transform: scaleX(1.5);
}
.card-body{
    padding-top: 1.2rem;
    font-weight: 600;
    color: rgb(255,255,255/0.8);
}
/*
.grid-shop .card{
    max-height: 20rem;
    padding-top: 7rem;
}

.grid-shop .card:hover{
    padding-top: 4rem;
}

.grid-shop .card-body{
    padding-top: 1rem;
}

.grid-shop .btn{
    margin-top: 0.5;
    margin-bottom: 0.5;
}



#purch-invis {
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear; 
    display: none; 
}
#purch-vis{
    opacity: 1;
    transition: opacity 6s linear;   
    display: grid; 
}

#bought-invis {
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear; 
    display: none; 
}
#bought-vis{
    opacity: 1;
    transition: opacity 6s linear;   
    display: grid; 
}
*/
#cuppage{
    color: var(--main-color);
    font-weight: bold;
}

.form-popup {
    display: none;  
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

  }
  .form-container {
      
    max-width: 35ch;
    height: auto;
    padding: 2rem;
    background-color: var(--main-color);
    color: var(--black);
    margin-top: -4rem;
  }
  
  .form-container b{
      text-transform: none;
  }
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    padding: 1.6rem 2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }