.card-body table{
    width: 100%;
}
.grid{
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.card{
    color: #fff;
    background-image: url(../assets/zurkeNajave.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    padding-top: 350px;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}
.card:hover{
    transform: scale(1.05);
}

.card-title{
    position: relative;
    width: max-content;
}

.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background:  linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 100%);
    transform: translateY(60%);
    transition: transform 500ms ease;
}
.card-content > *{
    opacity: 0;
    transition: opacity 500ms linear;
}
.card-content p{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
    opacity: 0;
    transition: opacity 500ms linear;
}


.card:hover .card-content{
    transform: translateY(0%);
}
.card:hover .card-content > *{
    opacity: 1;
}
.card-title::after{
    content: '';
    position: absolute;
    height: 5px;
    background: var(--main-color);
    z-index: 101;
    height: 4px;
    bottom: -2px;
    left: calc(var(--padding)*-1);
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transition: transform 500ms ease;
    transform-origin: left;
}
.card:hover .card-title::after{
    transform: scaleX(1);
}
.card-body{
    padding-top: 0.5rem;
    font-weight: 600;
    color: rgb(255,255,255/0.8);
}
.sm-button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem;
    border: 1px solid var(--main-color);
}

.button{
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
}

td .sm-button{
    background: #fff;
    border-radius: 10px;
    color: var(--main-color);
    font-size: .8rem;
    padding: .5rem;
    border: 1px solid var(--main-color);
    visibility: hidden;
}
tr:hover .sm-button{
    visibility: visible;
}
.card-new{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #fff;
}
.add-new-button{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.button{
    
}


  
  #display_image{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background: center;
    background-size: cover;
  }

  .picture-space{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      height: 100%;
      border-right: 1px solid var(--main-color);
  }
  .input-table thead tr td{
      padding-left: 1rem;
      font-size: x-large;
  }
  .input-table tbody tr td{
    padding-left: 1rem;
}
  .input-div{
    
    width: 100%;
  }
  .input-div > *{
      margin-left: 1rem;
  }
  .radio-div{
    display: flex;
    gap: 1rem;
  }
  .button-div{
      background: #fff;
  }
  .button-div{
    display: flex;
    justify-content: flex-end;
    background: #fff;
}
@media only screen and (max-width: 1200px){
    .grid{
        margin-top: 3.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

}
@media only screen and (max-width: 768px){
    .grid{
        margin-top: 3.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

}
@media only screen and (max-width: 500px){
    .grid{
        margin-top: 3.5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }

}